In [33]:

import pandas as pd 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
import tensorflow as tf
from keras.models import Sequential
from keras.utils import to_categorical
from keras.layers import Dense
from sklearn.preprocessing import LabelEncoder
from keras.callbacks import EarlyStopping
from keras.utils import to_categorical

In [2]:
fish_df = pd.read_csv("fish_participant.csv")

In [3]:
 fish_df = fish_df.dropna()

In [4]:
fish_df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
1   Perch   110.0     20.0     22.0     23.5   5.5225  3.9950
2   Roach   160.0     20.5     22.5     25.3   7.0334  3.8203
3  Parkki    60.0     14.3     15.5     17.4   6.5772  2.3142
4   Bream   700.0     30.4     33.0     38.3  14.8604  5.2854

In [10]:
# Use Pandas get_dummies to convert categorical data
fish_df = pd.get_dummies(fish_df)
fish_df

,Weight,Length1,Length2,Length3,Height,Width,Species_Bream,Species_Parkki,Species_Perch,Species_Pike,Species_Roach,Species_Smelt,Species_Whitefish
0,430.0,26.5,29.0,34.0,12.4440,5.1340,1,0,0,0,0,0,0
1,110.0,20.0,22.0,23.5,5.5225,3.9950,0,0,1,0,0,0,0
2,160.0,20.5,22.5,25.3,7.0334,3.8203,0,0,0,0,1,0,0
3,60.0,14.3,15.5,17.4,6.5772,2.3142,0,1,0,0,0,0,0
4,700.0,30.4,33.0,38.3,14.8604,5.2854,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,197.0,23.5,25.6,27.0,6.5610,4.2390,0,0,1,0,0,0,0
107,140.0,19.0,20.7,23.2,8.5376,3.2944,0,1,0,0,0,0,0
108,110.0,19.1,20.8,23.1,6.1677,3.3957,0,0,0,0,1,0,0
109,685.0,34.0,36.5,39.0,10.8810,6.8640,0,0,1,0,0,0,0
110,300.0,26.9,28.7,30.1,7.5852,4.6354,0,0,1,0,0,0,0

In [11]:
X = fish_df[["Length3","Height","Width","Species_Bream"]]

# Creat a train Test

In [12]:
y = fish_df["Weight"].values.reshape(-1, 1)
y

print(X.shape, y.shape)

(111, 4) (111, 1)

In [7]:
#X =fish_df.drop(columns = ["Weight"])

In [13]:
# Split the data into training and testing


from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [14]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
#y_train

In [20]:
y_scaler = MinMaxScaler().fit(y_train)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

# leniar regression model

In [21]:
# Create a LinearRegression model and fit it to the scaled training data

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_scaled, y_train_scaled)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
# Make predictions using a fitted model
predictions = model.predict(X_test_scaled)
model.fit(X_train_scaled, y_train_scaled)
predictions

array([[-1.20413734e-01],
       [ 5.51423544e-01],
       [ 3.86762195e-01],
       [ 6.63854608e-01],
       [ 5.19766781e-01],
       [ 3.60408136e-01],
       [ 2.72820960e-01],
       [ 3.26564330e-01],
       [ 2.43011476e-01],
       [ 4.00458984e-01],
       [ 1.15075435e-01],
       [ 5.18878373e-01],
       [ 3.22214418e-01],
       [ 2.65601046e-01],
       [-1.20434504e-01],
       [ 5.56170143e-01],
       [ 1.87346161e-01],
       [ 1.17169762e-01],
       [ 4.63511381e-01],
       [ 3.94772218e-01],
       [ 2.24624413e-01],
       [ 4.83944519e-01],
       [ 1.40910692e-01],
       [ 3.68861873e-01],
       [ 2.96838829e-04],
       [ 6.36721439e-02],
       [ 4.07163408e-01],
       [ 2.20506600e-01]])

In [27]:
# Used X_test_scaled, y_test_scaled, and model.predict(X_test_scaled) to calculate MSE and R2

from sklearn.metrics import mean_squared_error

MSE = mean_squared_error(y_test_scaled, predictions)
r2 = model.score(X_test_scaled, y_test_scaled)

print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.004573199620813382, R2: 0.8974280465816414

In [28]:
# LASSO model
vity
from sklearn.linear_model import Lasso

lasso = Lasso(alpha=.01).fit(X_train_scaled, y_train_scaled)

predictions = lasso.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, predictions)
r2 = lasso.score(X_test_scaled, y_test_scaled)


print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.0076780033829596675, R2: 0.8277906344261292

In [29]:
# Ridge model
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=.01).fit(X_train_scaled, y_train_scaled)

predictions = ridge.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, predictions)
r2 = ridge.score(X_test_scaled, y_test_scaled)


print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.004585894801353461, R2: 0.8971433073235807

In [30]:
# ElasticNet model
from sklearn.linear_model import ElasticNet

elasticnet = ElasticNet(alpha=.01).fit(X_train_scaled, y_train_scaled)

predictions = elasticnet.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, predictions)
r2 = elasticnet.score(X_test_scaled, y_test_scaled)

print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.006089837560578986, R2: 0.8634114872777017